* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  -webkit-transform: scale(0.5);
  -webkit-text-size-adjust: none;
}
body {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早起浏览器*/
  -moz-user-select: none;
  /*火狐浏览器*/
  -ms-user-select: none;
  /*IE浏览器*/
  user-select: none;
  /*用户是否能够选中文本*/
  background: #C7EDCC ! important;
}
input,
select {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  user-select: auto;
  /*用户是否能够选中文本*/
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px; 
}
a {
  color: #42b983;
}
::-webkit-scrollbar {
  /* display: none; */
}
.mode {
  position: absolute;
  left: 35%;
  top: 20px; 
}
#loadImg {
  width: 100%;
  height: 100%;
}
#loadImg img {
  /* width: 100%;
  height: 100%; */
}
.dialog-start {
  position: fixed;
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-start .pannel {
  width: 350px; 
  background-color: #000;
  opacity: 0.6;
  border-radius: 10px; 
}
.dialog-start .pannel p {
  color: #FFFFFF;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}
.wrapper p {
  margin: 0px; 
}
.van-overlay {
  background: none;
}
.van-nav-bar {
  background-color: #1d1d1d;
  height: 60px; 
  line-height: 60px; 
}
.van-nav-bar .van-icon {
  font-size: 29px; 
  position: absolute;
  left: 4px; 
  top: -40px; 
  color: #f8c929;
}
.van-hairline--bottom::after {
  border: none;
}
.van-nav-bar__arrow + .van-nav-bar__text {
  margin-bottom: -25px; 
  font-size: 12px; 
}
.van-nav-bar__text:active {
  background-color: none;
}
.van-nav-bar__text:hover {
  background-color: none;
}
.van-nav-bar__title {
  color: white;
}
.van-nav-bar__left .van-nav-bar__text {
  color: white;
}
.van-nav-bar__right .van-nav-bar__text {
  color: #f8c929;
  background-color: #1d1d1d;
}
.block {
  width: 60%;
  height: 80%;
  padding: 5px 20px 8px; 
  background-color: rgba(0, 0, 0, 0.7);
}
.touch {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.mouse {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (orientation: landscape) {
  #player {
    width: 100%;
    height: 100%;
    transform: translate(0px, 0px) rotate(0deg) !important;
  }
}
#player {
  position: fixed;
  top: 0px; 
  bottom: 0px; 
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#portrait {
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.6);
  padding-top: 40%;
  color: #fff;
}
#portrait img {
  width: 100px; 
}
#portrait h1 {
  font-size: 1.2em;
}
#portrait h2 {
  font-size: 1em;
}
#videos {
  position: relative;
  pointer-events: auto;
  touch-action: none !important;
  width: 100%;
  height: 100%;
  background-color: black;
}
#videos #remoteVideo {
  width: auto;
  height: 100%;
  overflow: hidden;
  touch-action: none !important;
}
#mouseImg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px; 
  height: 15px; 
}
video::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}
button {
  height: 40px; 
  width: 40px; 
  color: #00ffd8;
  text-align: center;
  background-color: #161f1999;
  border: 1px solid #0e4a55;
  margin-left: auto;
  border-radius: 20px; 
  opacity: 0.9;
}
button span {
  font-size: 10px; 
}
.treeSelectActived {
  background-color: #4a4f6d;
  border-left: 3px solid transparent;
  width: 117px; 
  border-color: #bbacac;
}
.treeSelectLiActived {
  background-color: #4a4f6d;
}
.actived {
  background-color: #a6e7dd;
  opacity: 0.5;
  color: #00ffd8;
}
.squactived {
  background-color: red;
  color: red;
  width: 100px; 
  height: 100px; 
}
.customizeBtn button {
  position: absolute;
  top: 0;
  left: 0;
}
#CFKey .CF button {
  position: absolute;
}
#CFKey .CF button:first-child {
  top: 15px; 
  left: 0px; 
}
#CFKey .CF button:nth-child(2) {
  top: 60px; 
  left: 0px; 
}
#CFKey .CF button:nth-child(3) {
  top: 120px; 
  left: 0px; 
}
#CFKey .CF button:nth-child(4) {
  top: 15px; 
  left: 75px; 
}
#CFKey .CF button:nth-child(5) {
  top: 15px; 
  left: 135px; 
}
#CFKey .CF button:nth-child(6) {
  top: 15px; 
  left: 195px; 
}
#CFKey .CF button:nth-child(7) {
  top: 15px; 
  left: 255px; 
}
#CFKey .CF button:nth-child(8) {
  top: 15px; 
  right: 165px; 
}
#CFKey .CF button:nth-child(9) {
  top: 15px; 
  right: 105px; 
}
#CFKey .CF button:nth-child(10) {
  top: 15px; 
  right: 45px; 
}
#CFKey .CF button:nth-child(11) {
  top: 50px; 
  right: 0px; 
}
#CFKey .CF button:nth-child(12) {
  width: 60px; 
  height: 60px; 
  border-radius: 30px; 
  top: 105px; 
  right: 0px; 
}
#CFKey .CF button:nth-child(13) {
  width: 60px; 
  height: 60px; 
  border-radius: 30px; 
  top: 185px; 
  right: 0px; 
}
#CFKey .CF button:nth-child(14) {
  bottom: 100px; 
  right: 140px; 
}
#CFKey .CF button:nth-child(15) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  bottom: 10px; 
  right: 130px; 
}
#CFKey .CF button:nth-child(16) {
  bottom: 45px; 
  left: 185px; 
}
#CFKey .CF button:nth-child(17) {
  bottom: 45px; 
  left: 230px; 
}
#CFKey .CF button:nth-child(18) {
  bottom: 45px; 
  right: 265px; 
}
#CFKey .CF button:nth-child(19) {
  bottom: 45px; 
  right: 220px; 
}
#CFKey .CF button:nth-child(20) {
  bottom: 0px; 
  left: 245px; 
}
#CFKey .CF button:nth-child(21) {
  bottom: 0px; 
  right: 240px; 
}
#CFKey .CF button:nth-child(22) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  bottom: 140px; 
  left: 95px; 
}
#CFKey .CF button:nth-child(23) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  bottom: 30px; 
  left: 95px; 
}
#CFKey .CF button:nth-child(24) {
  bottom: 85px; 
  left: 40px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .CF button:nth-child(25) {
  bottom: 85px; 
  left: 150px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .CF button:nth-child(26) {
  bottom: 140px; 
  left: 40px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .CF button:nth-child(27) {
  bottom: 140px; 
  left: 150px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .CF button:nth-child(28) {
  bottom: 30px; 
  left: 40px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .CF button:nth-child(29) {
  bottom: 30px; 
  left: 150px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CFKey .Lock button {
  position: absolute;
}
#CFKey .Lock button:first-child {
  bottom: 5px; 
  left: 0px; 
}
#CFKey .Lock button:nth-child(2) {
  bottom: 10px; 
  right: 190px; 
}
#CFKey .Lock button:nth-child(3) {
  bottom: 5px; 
  right: 0px; 
}
#CFKey .mouseLeft button:first-child {
  width: 80px; 
  height: 80px; 
  border-radius: 40px; 
  position: absolute;
  bottom: 40px; 
  right: 60px; 
}
#CFKey .mouseLeft button:nth-child(2) {
  width: 30px; 
  height: 30px; 
  border-radius: 15px; 
  position: absolute;
  bottom: 50px; 
  right: 10px; 
}
#YDKey,
#YXKey,
#CYKey,
#CWKey,
#QQXWKey,
#QQCarKey,
#CFKey,
#defaulKey {
  top: 0px; 
  left: 0px; 
}
#YDKey button,
#YXKey button,
#CYKey button,
#CWKey button,
#QQXWKey button,
#QQCarKey button,
#CFKey button,
#defaulKey button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#DNFKey button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#DNFKey .exitBtn {
  position: absolute;
  top: 10px; 
  left: calc(50% - 25px);
}
#DNFKey button:first-child {
  top: 15px; 
  left: 0px; 
}
#DNFKey button:nth-child(2) {
  top: 15px; 
  left: 75px; 
}
#DNFKey button:nth-child(3) {
  top: 15px; 
  left: 140px; 
}
#DNFKey button:nth-child(4) {
  top: 15px; 
  left: 205px; 
}
#DNFKey button:nth-child(5) {
  top: 15px; 
  right: 220px; 
}
#DNFKey button:nth-child(6) {
  top: 15px; 
  right: 155px; 
}
#DNFKey button:nth-child(7) {
  top: 15px; 
  right: 90px; 
}
#DNFKey button:nth-child(8) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  top: 125px; 
  right: 5px; 
}
#DNFKey button:nth-child(9) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  top: 180px; 
  right: 5px; 
}
#DNFKey button:nth-child(10) {
  bottom: 100px; 
  right: 260px; 
}
#DNFKey button:nth-child(11) {
  bottom: 100px; 
  right: 180px; 
}
#DNFKey button:nth-child(12) {
  bottom: 100px; 
  right: 100px; 
}
#DNFKey button:nth-child(13) {
  bottom: 55px; 
  right: 310px; 
}
#DNFKey button:nth-child(14) {
  bottom: 55px; 
  right: 250px; 
}
#DNFKey button:nth-child(15) {
  bottom: 55px; 
  right: 190px; 
}
#DNFKey button:nth-child(16) {
  bottom: 55px; 
  right: 130px; 
}
#DNFKey button:nth-child(17) {
  bottom: 55px; 
  right: 70px; 
}
#DNFKey button:nth-child(18) {
  bottom: 55px; 
  right: 10px; 
}
#DNFKey button:nth-child(19) {
  bottom: 10px; 
  right: 310px; 
}
#DNFKey button:nth-child(20) {
  bottom: 10px; 
  right: 250px; 
}
#DNFKey button:nth-child(21) {
  bottom: 10px; 
  right: 190px; 
}
#DNFKey button:nth-child(22) {
  bottom: 10px; 
  right: 130px; 
}
#DNFKey button:nth-child(23) {
  bottom: 10px; 
  right: 70px; 
}
#DNFKey button:nth-child(24) {
  bottom: 10px; 
  right: 10px; 
}
#DNFKey button:nth-child(25) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  bottom: 140px; 
  left: 65px; 
}
#DNFKey button:nth-child(26) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  bottom: 30px; 
  left: 65px; 
}
#DNFKey button:nth-child(27) {
  bottom: 85px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey button:nth-child(28) {
  bottom: 85px; 
  left: 120px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey button:nth-child(29) {
  bottom: 140px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey button:nth-child(30) {
  bottom: 140px; 
  left: 120px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey button:nth-child(31) {
  bottom: 30px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey button:nth-child(32) {
  bottom: 30px; 
  left: 120px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#DNFKey .mouse button {
  background-repeat: no-repeat;
  background-size: 25px 34px; 
  background-position: center;
}
#DNFKey .mouse span {
  opacity: 0;
}
#DNFKey .mouse button:first-child {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  top: 10px; 
  right: 5px; 
  background-image: url(../img/Mleft.png);
}
#DNFKey .mouse button:nth-child(2) {
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  top: 65px; 
  right: 5px; 
  background-image: url(../img/Mright.png);
}
#YDKey button {
  position: absolute;
}
#YDKey .YD button {
  width: 34px; 
  height: 34px; 
  border-radius: 17px; 
}
#YDKey .YD button:first-child {
  top: 20px; 
  left: 0px; 
}
#YDKey .YD button:nth-child(2) {
  top: 60px; 
  left: 0px; 
}
#YDKey .YD button:nth-child(3) {
  top: 100px; 
  left: 0px; 
}
#YDKey .YD button:nth-child(4) {
  top: 140px; 
  left: 0px; 
}
#YDKey .YD button:nth-child(5) {
  top: 100px; 
  right: 0px; 
}
#YDKey .YD button:nth-child(6) {
  top: 140px; 
  right: 0px; 
}
#YDKey .YD button:nth-child(7) {
  top: 180px; 
  right: 0px; 
}
#YDKey .YD button:nth-child(7) span {
  font-size: 10px; 
  letter-spacing: 2px; 
  line-height: 0px; 
}
#YDKey .YD button:nth-child(8) {
  top: 220px; 
  right: 0px; 
}
#YDKey .mouse button {
  width: 34px; 
  height: 34px; 
  border-radius: 17px; 
  background-repeat: no-repeat;
  background-size: 20px 34px; 
  background-position: center;
}
#YDKey .mouse button span {
  opacity: 0;
}
#YDKey .mouse button:first-child {
  top: 180px; 
  left: 0px; 
  background-image: url(../img/Mleft.png);
}
#YDKey .mouse button:nth-child(2) {
  top: 220px; 
  left: 0px; 
  background-image: url(../img/Mright.png);
}
#YXKey button {
  position: absolute;
}
#YXKey .YX button:first-child {
  top: 15px; 
  left: 0px; 
}
#YXKey .YX button:nth-child(2) {
  top: 55px; 
  left: 0px; 
}
#YXKey .YX button:nth-child(3) {
  top: 110px; 
  left: 0px; 
}
#YXKey .YX button:nth-child(4) {
  top: 165px; 
  left: 0px; 
}
#YXKey .YX button:nth-child(5) {
  top: 220px; 
  left: 0px; 
}
#YXKey .YX button:nth-child(6) {
  top: 15px; 
  left: 100px; 
}
#YXKey .YX button:nth-child(7) {
  top: 15px; 
  left: 155px; 
}
#YXKey .YX button:nth-child(8) {
  top: 15px; 
  left: 210px; 
}
#YXKey .YX button:nth-child(9) {
  top: 30px; 
  right: 70px; 
}
#YXKey .YX button:nth-child(10) {
  top: 30px; 
  right: 5px; 
}
#YXKey .YX button:nth-child(11) {
  top: 80px; 
  right: 70px; 
}
#YXKey .YX button:nth-child(12) {
  top: 80px; 
  right: 5px; 
}
#YXKey .YX button:nth-child(13) {
  bottom: 10px; 
  left: 100px; 
}
#YXKey .YX button:nth-child(14) {
  bottom: 10px; 
  left: 155px; 
}
#YXKey .YX button:nth-child(15) {
  bottom: 10px; 
  left: 210px; 
}
#YXKey .YX button:nth-child(16) {
  bottom: 10px; 
  left: 265px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#YXKey .YX button:nth-child(17) {
  bottom: 10px; 
  right: 240px; 
}
#YXKey .YX button:nth-child(18) {
  bottom: 10px; 
  right: 190px; 
}
#YXKey .YX button:nth-child(19) {
  bottom: 60px; 
  right: 170px; 
}
#YXKey .YX button:nth-child(20) {
  bottom: 100px; 
  right: 140px; 
}
#YXKey .YX button:nth-child(21) {
  bottom: 130px; 
  right: 90px; 
}
#YXKey .YX button:nth-child(22) {
  bottom: 100px; 
  right: 40px; 
}
#YXKey .mouse button {
  background-repeat: no-repeat;
  background-size: 20px 34px; 
  background-position: center;
}
#YXKey .mouse button span {
  opacity: 0;
}
#YXKey .mouse button:first-child {
  bottom: 10px; 
  right: 5px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  background-image: url(../img/Mleft.png);
}
#YXKey .mouse button:nth-child(2) {
  bottom: 30px; 
  right: 70px; 
  width: 80px; 
  height: 80px; 
  border-radius: 40px; 
  background-size: 30px 50px; 
  background-image: url(../img/Mright.png);
}
#CWKey button {
  position: absolute;
}
#CWKey .CW button:first-child {
  top: 10px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(2) {
  top: 125px; 
  right: 130px; 
}
#CWKey .CW button:nth-child(3) {
  top: 125px; 
  right: 70px; 
}
#CWKey .CW button:nth-child(4) {
  top: 125px; 
  right: 10px; 
}
#CWKey .CW button:nth-child(5) {
  bottom: 50px; 
  left: 160px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(6) {
  bottom: 50px; 
  left: 220px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(7) {
  top: 150px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(8) {
  top: 150px; 
  left: 70px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(9) {
  top: 150px; 
  left: 130px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(10) {
  top: 150px; 
  left: 190px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(11) {
  bottom: 15px; 
  right: 150px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#CWKey .CW button:nth-child(12) {
  bottom: 35px; 
  right: 100px; 
}
#CWKey .mouse button:first-child {
  bottom: 15px; 
  right: 10px; 
  width: 80px; 
  height: 80px; 
  border-radius: 40px; 
}
#CWKey .mouse button:nth-child(2) {
  bottom: 100px; 
  right: 50px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey button {
  position: absolute;
}
#QQXWKey .XW button:first-child {
  top: 10px; 
  left: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey .XW button:nth-child(2) {
  top: 10px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey .XW button:nth-child(3) {
  bottom: 150px; 
  left: 70px; 
}
#QQXWKey .XW button:nth-child(4) {
  bottom: 30px; 
  left: 0px; 
}
#QQXWKey .XW button:nth-child(5) {
  bottom: 60px; 
  left: 50px; 
  width: 80px; 
  height: 80px; 
  border-radius: 40px; 
}
#QQXWKey .XW button:nth-child(6) {
  bottom: 30px; 
  left: 140px; 
}
#QQXWKey .XW button:nth-child(7) {
  bottom: 90px; 
  right: 80px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey .XW button:nth-child(8) {
  bottom: 20px; 
  right: 80px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey .XW button:nth-child(9) {
  bottom: 20px; 
  right: 150px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQXWKey .XW button:nth-child(10) {
  bottom: 20px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQCarKey button {
  position: absolute;
}
#QQCarKey .car button:first-child {
  top: 15px; 
  left: 0px; 
}
#QQCarKey .car button:nth-child(2) {
  top: 15px; 
  right: 150px; 
}
#QQCarKey .car button:nth-child(3) {
  top: 15px; 
  right: 100px; 
}
#QQCarKey .car button:nth-child(4) {
  top: 15px; 
  right: 50px; 
}
#QQCarKey .car button:nth-child(5) {
  top: 15px; 
  right: 0px; 
}
#QQCarKey .car button:nth-child(6) {
  top: 60px; 
  right: 0px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQCarKey .car button:nth-child(7) {
  top: 60px; 
  left: 0px; 
}
#QQCarKey .car button:nth-child(8) {
  bottom: 100px; 
  right: 170px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQCarKey .car button:nth-child(9) {
  bottom: 100px; 
  right: 80px; 
  width: 70px; 
  height: 70px; 
  border-radius: 35px; 
}
#QQCarKey .car button:nth-child(10) {
  bottom: 100px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#QQCarKey .car button:nth-child(11) {
  bottom: 100px; 
  left: 10px; 
}
#QQCarKey .car button:nth-child(12) {
  bottom: 100px; 
  left: 70px; 
  width: 70px; 
  height: 70px; 
  border-radius: 35px; 
}
#QQCarKey .car button:nth-child(13) {
  bottom: 10px; 
  right: 85px; 
  width: 66px; 
  height: 66px; 
  border-radius: 33px; 
}
#QQCarKey .car button:nth-child(14) {
  bottom: 10px; 
  right: 170px; 
  width: 66px; 
  height: 66px; 
  border-radius: 33px; 
}
#QQCarKey .car button:nth-child(15) {
  bottom: 10px; 
  right: 5px; 
  width: 60px; 
  height: 60px; 
  border-radius: 33px; 
}
#defaulKey button {
  position: absolute;
}
#defaulKey .default button:first-child {
  top: 15px; 
  left: 0px; 
}
#defaulKey .default button:nth-child(2) {
  top: 15px; 
  right: 0px; 
}
#defaulKey .default button:nth-child(3) {
  bottom: 10px; 
  left: 220px; 
}
#defaulKey .default button:nth-child(4) {
  bottom: 10px; 
  left: 270px; 
}
#defaulKey .default button:nth-child(5) {
  bottom: 10px; 
  right: 230px; 
}
#defaulKey .default button:nth-child(6) {
  bottom: 10px; 
  right: 180px; 
}
#defaulKey .mouse button {
  background-repeat: no-repeat;
  background-size: 20px 34px; 
  background-position: center;
}
#defaulKey .mouse button span {
  opacity: 0;
}
#defaulKey .mouse button:nth-child(1) {
  bottom: 100px; 
  right: 110px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  background-image: url(../img/Mleft.png);
}
#defaulKey .mouse button:nth-child(2) {
  bottom: 100px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  background-image: url(../img/Mright.png);
}
#defaulKey .Wheel button:nth-child(1) {
  bottom: 140px; 
  right: 60px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#defaulKey .Wheel button:nth-child(2) {
  bottom: 50px; 
  right: 60px; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
}
#wheel {
  position: absolute;
  top: 200px; 
  left: 25px; 
}
.roller {
  position: absolute;
  top: 200px; 
  left: 10px; 
}
.exitBtn {
  position: absolute;
  top: 10px; 
  left: 50%;
  width: 50px; 
  height: 30px; 
  line-height: 30px; 
  border-radius: 5px; 
  color: #00ffd8;
  background-color: #161f19;
  border: 1px solid #0e4a55;
  z-index: 99999;
}
#keys {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px; 
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}
#keys button {
  height: 45px; 
  border-radius: 0px; 
}
#keys button span {
  color: #fff;
  font-size: 13px; 
}
#keys #allKey .letter {
  width: 80%;
  position: absolute;
  left: 0px; 
}
#keys #allKey .letter button {
  width: 9%;
  padding: 0px; 
}
#keys #allKey .letter button span {
  padding: 0px; 
  font-size: 15px; 
}
#keys #allKey .letter button:first-child {
  width: 10%;
}
#keys #allKey .letter button:nth-child(12) {
  width: 10%;
}
#keys #allKey .letter button:nth-child(23) {
  width: 10%;
}
#keys #allKey .letter button:nth-child(32) {
  width: 18%;
}
#keys #allKey .letter button:nth-child(33) {
  width: 19%;
}
#keys #allKey .letter button:nth-child(34) {
  width: 63%;
}
#keys #allKey .letter button:nth-child(35) {
  width: 18%;
  background-image: url(../img/sign.png);
  background-repeat: no-repeat;
  background-size: 50px 40px; 
  background-position: center;
}
#keys #allKey .letter button:nth-child(35) span {
  opacity: 0;
}
#keys #allKey .number {
  width: 20%;
  position: absolute;
  right: 0px; 
}
#keys #allKey .number button {
  width: 33%;
}
#keys #sign button {
  width: 12.5%;
}
#keys #speCtrl button {
  width: 11%;
}
#icon .btnIcon {
  position: absolute;
  top: 100px; 
  right: 40px; 
  width: 100px; 
  height: 50px; 
  background-image: url(../img/icon/悬浮球_带显示.png);
  background-size: 100% 100%;
}
#icon .btnIcon .detailMsg {
  position: absolute;
  top: 10px; 
  left: 32px; 
  width: 70px; 
  margin: 0px; 
  padding: 0px; 
  color: white;
  border-radius: 0px 20px 20px 0px; 
}
#icon .btnIcon .detailMsg p {
  margin: 0px; 
  padding: 6px; 
  height: 5px; 
  line-height: 5px; 
  font-size: 0.6em;
}
#icon .btnIcon .detailMsg p span {
  color: white;
  opacity: 0.7;
}
#icon .popList {
  position: fixed;
  top: 0px; 
  left: 0px; 
  height: 100%;
  z-index: 3;
}
#icon .popList li {
  margin: 0px; 
}
#icon .popList .nav {
  color: #FFFFFF;
  background-color: #323954;
  width: 120px; 
  height: 100%;
  position: absolute;
  top: 0px; 
  left: 0px; 
}
#icon .popList .nav .sup {
  padding-top: 20px; 
  width: 120px; 
  height: 40px; 
}
#icon .popList .nav .sup .sub {
  padding-top: 5%;
  position: absolute;
  left: 120px; 
  top: 0px; 
  background-color: #191E36;
  width: 100px; 
  height: 100%;
}
#icon .popList .nav .sup .sub li {
  width: 100px; 
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#icon .popList .nav .sup .sub li span {
  vertical-align: middle;
}
